################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mainweb/.vs
/mainweb/.vs
/SecurityItems
/SecurityItems
/mainweb/mainweb/Properties/PublishProfiles/CustomProfile.pubxml.user
/mainweb/mainweb/bin/Release/netcoreapp1.1
/mainweb/mainweb/obj/Debug/netcoreapp1.1/PubTmp
/mainweb/mainweb/obj/Release/netcoreapp1.1
/mainweb/mainweb/obj/mainweb.csproj.codegeneration.targets
/mainweb/mainweb/obj/mainweb.csproj.EntityFrameworkCore.targets
/mainweb/mainweb/bin/Debug/netcoreapp1.1
