@{
    ViewData["Title"] = "Проверьте почту";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Для завершения регистрации следуйте инструкции отправленной Вам на электронную почту.
    </p>
</div>
