@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Благодарим Вас за подтверждение регистрации.<br/>Пожалуйста перейдите <a asp-controller="Account" asp-action="Login">по данной ссылки для входа.</a>.
    </p>
</div>
