@{
    ViewData["Title"] = "Запрос сброса пароля";
}

<h2>@ViewData["Title"].</h2>
<p>
    Проверьте свою почту для сброса пароля. <br/>Если Вы не видите сообщения во "Входящих", проверьте также "Спам"
</p>
