@model BulkDictionaryEntry
@{ await Html.RenderPartialAsync("_TabPartial"); }

<form asp-action="Create">
    В словаре имеется @ViewData["DictionaryTotal"] записей, из них @ViewData["DictionaryEng"] английских. Имеется @ViewData["DictionaryTrans"] переводов.
     <div class="form-horizontal">
        Вводите по одной словарьной статье на каждой строке.
        <br />
        <strong>слово:перевод;второй перевод</strong><br />
        @if (ViewData["error"] != null)
        {
            <strong style="color:red">@ViewData["error"]</strong><br />
        }
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   
       @Model?.Entry
       
        <div class="form-group">
           
            <div class="col-md-12" >
                <textarea  name="Entry" class="form-control"  style="max-width:100%;min-width:100px;min-height:100px;"></textarea>
                
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-2" >
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


