@model mainweb.Models.DictionaryEntry
@{ await Html.RenderPartialAsync("_TabPartial"); }

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>DictionaryEntry</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="DicDirection" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DicDirection" class="form-control"></select>
                <span asp-validation-for="DicDirection" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Text" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


