@model IEnumerable<mainweb.Models.DictionaryEntry>

@{ await Html.RenderPartialAsync("_TabPartial"); }
<table class="table">

    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <span class="col-md-12">
                        <strong>@item.Text.ToUpper()</strong>
                    </span>
                    @foreach (var t in item.Translatins)
                {
                        <span class="col-md-10 col-md-offset-2">
                            @t.Text
                        </span>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
