@model mainweb.Models.LessonEditViewModel
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/styles.js"></script>
<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="LessonId" />
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div>
                <input asp-for="Title" class="form-control col-md-8 width66" />
                <span asp-validation-for="Title" class="text-danger"></span>
                <input type="submit" value="Save" class="btn btn-default col-md-1 col-md-offset-1" />
            </div>
           
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Группа</label>
            @Html.DropDownList("LessonGroupId", (SelectList)ViewBag.LessonGroups, "--Без группы--", new { @class = "form-control col-md-8 width66" })
        </div>
        @***************************************************************************@
        @*CKEditor*@
        <div class="form-group">
            <textarea name="Content" id="lessonContent" rows="10" cols="80">
                @*Include the static file*@
                @Html.Raw(Model.Content)
        </textarea>
        <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
            CKEDITOR.replace('lessonContent');
        </script>
        @******************************************************************************@
        </div>
        
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-id="">Назад к списку</a>
</div>

