@model IEnumerable<mainweb.Models.LessonGroup>

@{
    ViewData["Title"] = "Группы уроков";
}
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="EditGroup" asp-route-id="@item.LessonGroupId" class="btn btn-default">Редактировать</a> 
                <a asp-action="DeleteGroup" asp-route-id="@item.LessonGroupId" class="btn btn-default">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="CreateGroup" class="btn btn-default">Добавить группу</a>
</p>