@model mainweb.Models.Excercise

<div>
    <h4>@Html.DisplayFor(model => model.ExcerciseName)</h4>
    <hr />
    @{
        var i = 0;
        foreach (var item in Model.ExcerciseItems)
        {
            i++;
            <p>@i.@item.Question</p>
        }
    }
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>

