@model IEnumerable<mainweb.Models.ProgressViewModel>


<h4>Выполненные упражнения</h4>
<table class="table">
@{
    var i = 0;
    String outStr;
    int totalEarned = 0;
    int totalAvailable = 0;
    float prct = 0.0F;
}
@foreach (var item in Model)
{
    prct = 0.0F;
        <tr>
            @{i++;}
            <td style="white-space: nowrap;width:40%;">
                @i.
                @if (item.TimeTaken != default(DateTime))
                {
                    prct = (float)item.PointsEarned / item.PointsAvailable;
                    outStr = String.Format("{0,10:dd/MM/yyyy} - {1,3:P0} ({2} из {3}) ", item.TimeTaken, prct, item.PointsEarned, item.PointsAvailable);
                    totalEarned += item.PointsEarned;

                }
                else
                {
                    outStr = "Не выполнено";
                }
                @{
                    totalAvailable += item.PointsAvailable;
                }
                @outStr
            </td>
            <td style="width:60%;">
                <a href="javascript:showExcercise(@item.Id)">@item.ExcerciseName</a>
            </td>
        </tr>
}

    @if (totalAvailable != 0)
    {
        var totalPrct = (float)totalEarned / totalAvailable;
        outStr = String.Format("ИТОГО:  {0,3:P0}   ({1} из {2}) ", totalPrct, totalEarned, totalAvailable);
        <tr>
            <td colspan="2"><strong>@outStr</strong></td>
        </tr>
    }
</table>
