@{
    ViewData["Title"] = "Главная";
}

 <p>Жизнь- это движение, особенно современная.</p>
 <p>
    Довольно сложно представить ее обездвиженной, но даже если и так, нам все равно потребуется глагол.
    Глагол - это ядро предложения, именно с его помощью мы выражаем действие, движение, и если в русском языке основная функция глагола - показать время совершения действия- настоящее, прошедшее и будущее, то в английском языке, глагол не только называет время, но и выражает либо регулярность, либо длительность, либо завершенность действия, что в русском языке обычно достигается с помощью наречий.
</p>
<p>
    Изучение английского языка людьми, чьим родным языком является русский, очень часто останавливается из-за неспособности разобраться с тем, какое время, когда использовать. Именно поэтому мы решили сконцентрироваться на изучении, в первую очередь, глагола, не забывая, конечно, и о других частях речи.
</p>
<p>
    Разобравшись в системе времен английского языка, человек начинает понимать, что он может строить предложения и, соответственно, общаться на английском языке.
</p>
<p>
    <b>
    Желаем удачи!
    </b>
</p>
   

