
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ol>
    <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Действительный залог</a></li>
    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Глагол to be</a></li>
    <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Вопросительная форма</a></li>
</ol>