@model mainweb.Models.Trainer

@{
    ViewData["Title"] = "Создание тренажера";
}
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/styles.js"></script>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-12">
                <textarea id="Original" name="Original"></textarea>
                <span asp-validation-for="Original" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    // Replace the <textarea id="Original"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('Original');
</script>

