@model mainweb.Models.Trainer

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<h3>Точно удалить?</h3>
<div>
    <h4>Тренажер</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="TrainerId" />
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Назад к списку</a>
        </div>
    </form>
</div>
