@model IEnumerable<mainweb.Models.Trainer>

@{
    ViewData["Title"] = "Index";
}

<h2>Тренажеры</h2>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainerId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainerId">Удалить</a> |

                @Html.Raw(@item.Original)
            </td>
        </tr>
}
    </tbody>
</table>
